<div class="list-container">
  <header> 
    <div class="search-bar">
      <span class="icon">🔍</span>
      <input 
        type="text" 
        placeholder="Buscar nombre o unidad..." 
        [(ngModel)]="searchTerm">
    </div>
  </header>

  <div class="list-scroll">
    @for (item of filteredRecetas(); track item.id) {
      <div class="ios-card" (click)="seleccionarIngrediente(item)">
        <div class="card-info">
          <h3>{{ item.Name }}</h3>
          <!-- <p>{{ item.presentacion }} {{ item.unidadBase }}</p> -->
        </div>

           <div class="total-row">
            <!-- <div class="card-price"> -->
                <span>Costo: </span>
                <strong>${{item.CostoTotal | number:'1.3-3' }}</strong>
            </div>
      </div>
    }
  </div>
</div>


<div class="fab-container">
    <button mat-fab class="green-fab" (click)="add()">
        <mat-icon>add</mat-icon>
    </button>
</div>